<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330981707235-htk30v2olgg3gietlm12p2bd3rlss76n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330981707235-htk30v2olgg3gietlm12p2bd3rlss76n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>330981707235-cnar0hcuuaedudkgdlemtkh2dmfm3dns.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCNz2UUHl2sWxfS5y5VUbZq1C9l1Bqg_n0</string>
	<key>GCM_SENDER_ID</key>
	<string>330981707235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileParkingApp</string>
	<key>PROJECT_ID</key>
	<string>garage-app-44057</string>
	<key>STORAGE_BUCKET</key>
	<string>garage-app-44057.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330981707235:ios:e0e4d19e3fb3eac18be4d6</string>
</dict>
</plist>